<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.converter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Assignment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Converter">
        <activity android:name=".networkparam" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".assymetricalpi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assymetricalt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".symmetricalpi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".symmetricalt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".telements"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pielements"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tnetwork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pinetwork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>